/* List of Questions
For the overlap on the landing page, would grid or position relative / absolute be better?
how should we make / get the icons, e.g. the down arrow head or the right triangle for the page path
do we need the landing img to say "IMAGE PLACEHOLDER"
is the way i colour text (using class names) fine
is it better to have ul and li for hoverable nav's for to use anchors */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/openSans/OpenSans-Light.ttf');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/openSans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/openSans/OpenSans-ExtraBold.ttf');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/openSans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.white {
    color: white;
}

.black {
    color: black;
}

.dark-purple {
    color: #3c023c;
}

.light-purple {
    color: #621360;
}

.dark-blue {
    color: #0078b4;
}

button:hover {
    cursor: pointer;
}

/* header */

/* top nav */

a {
    text-decoration: none;
}

#top-nav {
    background-color: #621360;
    display: flex;
    justify-content: right;
    margin-left: auto;
    width: 33%;
    min-width: 400px;
}

.top-nav-item {
    padding: 1rem;
    font-size: 0.7rem;
    transition: 0.3s;
}

.top-nav-item:hover {
    background-color: #3c023c;
}

/* middle nav and logo */

#main-header {
    display: flex;
}

#main-header-content {
    width: 100%;
}

#uop-logo {
    height: 200px;
}

#second-nav {
    background-color: #3c023c;
    display: flex;
    justify-content: right;
}

.second-nav-item {
    padding: 1rem 0;
    padding-left: 1rem;
    justify-content: space-around;
    font-size: small;
    list-style: none;
    transition: 0.3s;
}

.second-nav-item:nth-last-child(2) {
    padding-right: 1rem;
}

.down-arrow-container {
    margin-left: 1rem;
    padding: 1rem;
    background-color: #621360;
    transition: 0.3s;
}

.down-arrow {
    width: 10px;
    height: 10px;
    border-bottom: white solid 2px;
    border-right: white solid 2px;
    display: inline-block;
    transform: rotate(45deg);
}

.second-nav-item:hover, .second-nav-item:hover .down-arrow-container{
    background-color: #0078b4;
}

#sidebar-menu {
    display: none;
}

/* Third / Bottom nav */

.third-nav {
    background-color: #f6f4f5;
    justify-content: space-evenly;
    display: none;
    position: absolute;
    width: calc(100% - 200px);
    left: calc(0px + 200px);
    top: 97px;
}

.third-nav-item {
    padding: 0.8rem 0.5rem;
    font-size: small;
    transition: 0.3s;
}

.third-nav-item:hover{
    color: #0078b4;
}

/* second nav hover */

/* #study-third-nav {
    display: flex;
} */

.study-nav:hover #study-third-nav{
    display: flex;
}

.student-nav:hover #student-third-nav{
    display: flex;
}

.research-nav:hover #research-third-nav{
    display: flex;
}

.collaborate-nav:hover #collaborate-third-nav{
    display: flex;
}

.news-nav:hover #news-third-nav{
    display: flex;
}

.about-nav:hover #about-third-nav{
    display: flex;
}

/* page path and H1*/

.page-path-text {
    color: #0078b4;
    font-size: smaller;
}

.right-arrow {
    font-size: xx-small;
    padding: 5px;
}

#active-page {
    color: #621360;
}

#page-path {
    padding: 2rem 0 0.5rem 0;
}

#path-and-title {
    padding: 2rem 2rem;
}

#path-and-title h1{
    font-weight: lighter;
}

/* Content */

/* Banner */

#banner {
    width: 100%;
    object-fit: cover;
    height: 350px;
    display: block;
}

#landing-title {
    position: absolute;
    left: calc(100vw - 379px);
    top: 535px;
    background-color: #621360;
    opacity: 70%;
    font-weight: lighter;
    width: 300px;
    text-align: center;
    padding: 1rem 2rem;
}

#landing-title-paragraph {
    position: absolute;
    left: calc(100vw - 780px - 47px);
    top: 600px;
    width: 780px;
    background-color: #3c023c;
    font-size: small;
    font-weight: lighter;
    padding: 1rem 1rem;
}

#landing-description{
    display: flex;
}

#landing-list {
    padding: 5rem 2rem 5rem 4rem;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: larger;
    list-style-type: square;
}

#landing-paragraph {
    padding: 3rem 2rem 1rem;
    padding-right: 0;
}

#ssa-img {
    max-height: 300px;
    height: 20vw;
    padding: 2.5rem 1rem;
}

/* Our Experts */

main {
    padding: 1.5rem 2rem;
}

.main-section {
    border-top: solid #3c023c;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.main-section h2 {
    padding: 0 0 0 2rem;
    color: #3c023c;
    font-weight: normal;
}

#expert-cards {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;

}

#expert-cards img{
    width: 8rem;
    height: 8rem;
    background-color: #ffffff;
}

.expert-card {
    background-color: #eeeeee;
    padding: 1rem 0 0 .5rem;
    flex-grow: 1;
}

.expert aside {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    padding:  0 1rem;
}

.expert h3 {
    font-size: 12px;
    color: #0078b4;
}

.expert p {
    font-size: 10px;
}

.expert {
    display: flex;
}

.read-more-button {
    border: none;
    background-color: #ffffff;
    padding: 0.5rem;
    margin-top: .5rem;
    color: #115d83;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: right;
}

/* Who we work with */

#we-work-with img{
    width: 250px;
    height: 120px;
    object-fit: cover;
}

#work-with-scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.five-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    scroll-snap-align: start;
    width: calc(100vw - 64px);
}

/* highlights */

#highlight-cards-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.highlight-card {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 250px;
}

.highlight-card h3 {
    font-size: 14px;
    color: #621360;
}

.highlight-card p {
    font-size: small;
}

.highlight-text {
    padding: 1rem;
}

.highlight-card .button-container {
    margin-top: -42px;
}

/* Footer */

/* main footer */

#main-footer {
    display: flex;
    justify-content: center;
    background-color: #3c023c;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    border-left: solid #621360 1px;
    width: 20%;
    font-size: 14px;
}

.footer-column:last-child {
    border-right: solid #621360 1px;
}

.footer-column a {
    color: #ffffff;
}

#socials {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

#socials img {
    height: 30px;
    filter: invert();
}

/* secondary footer */

#secondary-footer {
    display: flex;
    background-color: #621360;
    color: #ffffff;
    padding: .5rem 0 .5rem 6%;
    gap: 1rem;
    font-size: small;
}

#secondary-footer a {
    color: #ffffff;
}

@media (max-width: 1200px) {
    
    .second-nav-item {
        display: none;
        padding-right: 1rem;
        align-items: center;
    }

    #second-nav {
        background-color: #3c023c;
        height: 3.1rem;
    }

    #sidebar-menu {
        display: block;
    }
    
    #sidebar-button {
        border: none;
        background-color: #0078b4;
        color: #ffffff;
        display: block;
        padding: 1rem;
        height: 100%;
    }

    .down-arrow-container {
        display: none;
    }
}

@media (max-width: 915px) {
    
}