main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    color: #212121;

    border: 1px solid green;
}

/* Import fonts */
@font-face {
    font-family: "Roboto-Bold";
    src: url("../media/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Asap-SemiBoldItalic";
    src: url("../media/fonts/Asap-SemiBoldItalic.ttf") format("truetype");
}

a {
    font-family: "Roboto-Bold";
}

h1 {
    font-family: "Asap-SemiBoldItalic";
}

header {
    border: 1px solid black;
    text-align: center;
    background-color: #f4f4f4;
    width: 100%;
}

.header-links-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
