@font-face {
    font-family: "OpenSans-Regular";
    src: url("../media/fonts/open sans/OpenSans-Regular.ttf") format("truetype");
}

/*todo add mobile */
@media (min-width: 1200px) {
    main {
        width: 1800px;
    }
}

main {
    font-family: "OpenSans-Regular";
    margin: 0 auto;
    border: 2px greenyellow solid;
}

header {
    display: flex;
    width: 100%;
}

#header-uop-logo {
    width: 5%;
    height: auto;
    margin: 25px;
}

#header-bars-and-title {
    width: 95%;
    border: 1px black solid;
}

/** DROPMENU BAR **/
#dropmenu-bar {
    display: flex;
    justify-content: right;
    background-color: #3c023c;
    color: white;
}

.dropmenu-item {
    display: flex;
    position: relative;
}

.dropmenu-text {
    /* Center text vertically */
    display: flex;
    align-items: center;
    /* Center text horizontally */
    justify-content: center;

    /*todo improve */
    padding: 1px 25px 1px 25px;
}

.dropmenu-arrow {
    /* Center text vertically */
    display: flex;
    align-items: center;
    /* Center text horizontally */
    justify-content: center;

    padding: 20px;
    background-color: #621360;
}

.dropmenu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3c023c;
    color: white;
    padding: 0;
    margin: 0;
}

.dropmenu-item:hover {
    background-color: #0078b4;
}

.dropmenu-item:hover .dropmenu-arrow {
    background-color: #0078b4;
}

.dropmenu-item:hover .dropmenu-list {
    display: block;
}

.dropmenu-list > li {
    padding: 5px 20%;
}

.dropmenu-list > li:hover {
    background-color: #621360;
}

/** SUBBAR **/
#subbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
