@font-face {
    font-family: "OpenSans-Regular";
    src: url("../media/fonts/open sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../media/fonts/open sans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../media/fonts/open sans/OpenSans-Light.ttf");
}

a {
    text-decoration: none;
}

/** MAIN **/
/*todo add mobile */
@media (min-width: 1200px) {
    main {
        width: 1400px;
    }
}

main {
    font-family: "OpenSans-Regular";
    margin: 0 auto;
    font-size: 12px;
}

/** HEADER **/
header {
    display: flex;
    justify-content: flex-end;
}

header > section {
    background-color: #621360;
    display: flex;
    justify-content: flex-end;
    width: 33%;
}

header > section > a {
    margin: 10px;
    color: white;
}

header > section > a:active {
    color: #009ee2;
}

/** page-head-section **/
#page-head-section {
    display: flex;
    width: 100%;
}

#header-uop-logo {
    width: 8%;
    height: auto;
    margin: 25px;
}

#header-bars-and-title {
    width: 92%;
}

/** DROPMENU BAR **/
#dropmenu-bar {
    display: flex;
    justify-content: right;
    background-color: #3c023c;
    color: white;
}

.dropmenu-item {
    display: flex;
    position: relative;
}

.dropmenu-text {
    /* Center text vertically */
    display: flex;
    align-items: center;
    /* Center text horizontally */
    justify-content: center;

    /*todo improve */
    padding: 1px 20px;
}

.dropmenu-arrow {
    /* Center text vertically */
    display: flex;
    align-items: center;
    /* Center text horizontally */
    justify-content: center;

    padding: 20px;
    background-color: #621360;
}

.dropmenu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3c023c;
    color: white;
    padding: 0;
    margin: 0;
}

.dropmenu-item:hover {
    background-color: #0078b4;
}

.dropmenu-item:hover .dropmenu-arrow {
    background-color: #0078b4;
}

.dropmenu-item:hover .dropmenu-list {
    display: block;
}

.dropmenu-list > li {
    padding: 5px 20%;
    list-style: none;
}

.dropmenu-list > li:hover {
    background-color: #621360;
}

/** subbar **/
#subbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background-color: lightgray;
    height: 20%;
    font-family: "OpenSans-Bold";
}

#subbar > a {
    color: black;
}

#subbar > a:active {
    color: #009ee2;
}

/** backlink list **/
#backlink-list {
    display: flex;
    font-size: smaller;
    margin: 15px 0 0 50px;
}

#backlink-list > a {
    margin: 0 5px;
}

#backlink-list > a:link {
    color: #0078b4;
}

#backlink-list > a:active {
    color: #009ee2;
}

#backlink-list > a:visited {
    color: #621360;
}

h1 {
    color: #621360;
    font-size: 45px;
    font-family: "OpenSans-Light";
    margin: 15px 0 0 50px;
}
